<% if @document.errors.any? %>
  <p class="notice notice__error"><%= @document.errors.full_messages[0] %> </p>
<%end%>
<div class="form">
  <h1 class="heading">Edit Your File</h1>
  <%= render 'form', document: @document, type: 'edit'%>
</div>
